body{
    background-image: url(./images/ignasi_pattern_s.png);
}


.HeadAM {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
} 

.container {

    padding-top: 100px;
}


.footer {
    text-align: center;
    background-color: black;
}